In [2]:
import glob, os
os.chdir("/home/jovyan/work/resources")
for file in glob.glob("*.csv"):
    print(file)

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/home/jovyan/work/resources'

In [5]:
import pandas as pd
doc = pd.DataFrame
for file in glob.glob("*.csv"):
    if doc.empty:
        doc = pd.read_csv(file)
        doc['ride'] = file
    else:
        doc1 = pd.read_csv(file)
        doc1['ride'] = file
        doc = pd.concat([doc,doc1],ignore_index = True)

In [4]:
doc.ride.unique()

AttributeError: type object 'DataFrame' has no attribute 'ride'

In [4]:
doc

,date,datetime,SACTMIN,SPOSTMIN,ride
0,01/01/2015,2015-01-01 07:12:26,NaN,10.0,space_mountain.csv
1,01/01/2015,2015-01-01 07:12:45,6.0,NaN,space_mountain.csv
2,01/01/2015,2015-01-01 07:16:12,NaN,10.0,space_mountain.csv
3,01/01/2015,2015-01-01 07:23:12,NaN,10.0,space_mountain.csv
4,01/01/2015,2015-01-01 07:29:12,NaN,10.0,space_mountain.csv
...,...,...,...,...,...
5654844,12/28/2021,2021-12-28 22:35:34,NaN,15.0,splash_mountain.csv
5654845,12/28/2021,2021-12-28 22:42:15,NaN,15.0,splash_mountain.csv
5654846,12/28/2021,2021-12-28 22:48:12,NaN,15.0,splash_mountain.csv
5654847,12/28/2021,2021-12-28 22:54:10,NaN,15.0,splash_mountain.csv
5654848,12/28/2021,2021-12-28 23:00:27,NaN,15.0,splash_mountain.csv

In [5]:
doc.to_csv("/home/jovyan/work/resources/combined_rides.csv")